@font-face {
  font-family: "Calibre-SemiBold";
  src: url("../font/Calibre-SemiBold.woff") format("woff"),
    url("../font/Calibre-SemiBold.ttf") format("truetype"),
    url("../font/Calibre-Semibold.svg#Calibre-Semibold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibre-Medium";
  src: url("../font/Calibre-Medium.woff") format("woff"),
    url("../font/Calibre-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibre-Regular";
  src: url("../font/Calibre-Regular.woff") format("woff"),
    url("../font/Calibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "./base";
@import "./contact";
@import "./footer";
@import "./header";
@import "./project";
@import "./web";
@import "./about";
